
<div class="divcond">
  <h1 class="condiciones">Preguntas más frecuentes (FAQ)</h1><br>
  <h3 class="condiciones">¿Los códigos de los CDs son oficiales?</h3><br>
  <p>Es una pregunta que, viendo los precios, surge con frecuencia. Puedes estar seguro, nuestras claves de CD son oficiales, ya que son compradas a distribuidores autorizados: EA Origin, Steam, Battle.net, NCSoft o Ubisoft.</p>
  <p>Todas nuestras claves son claves escaneadas de las tarjetas oficiales.</p><br>
  <h3 class="condiciones">¿Cómo puedo descargar un juego? ¿Esto es legal?</h3><br>
  <p>La descarga de juegos es perfectamente legal a través de las plataformas oficiales de EA Origin, Steam, Battle.net, NCSoft o Ubisoft.</p><br>
  <p>Sólo tienes que descargarlos a través de su software disponible en sus páginas web oficiales, ya que todos ellos ofrecen ahora descargas legales de juegos.</p><br>
  <h3 class="condiciones">¿Cómo puedo activar una clave de CD?</h3><br>
  <p>Para activar tu juego simplemente ves a la ficha de dicho juego y haz clic en "Activar este juego en..." para ver una guía del proceso para la plataforma en cuestión.</p><br>
  <h3 class="condiciones">¿Tengo que crear una cuenta para comprar un código de CD?</h3><br>
  <p>Sí, por varias razones: principalmente para obtener tu clave de CD directamente en la sección "Mis pedidos", pero también para poder ponerte en contacto con nosotros a través del sistema de tickets, que requiere una identificación.</p><br>
  <p>Para crear una cuenta o iniciar sesión, utiliza el panel a la izquierda de la página principal de nuestra web: https://www.black-diamond.com/</p><br>
  <h3 class="condiciones">No me puedo conectar (contraseña perdida).</h3><br>
  <p>Si no puedes iniciar sesión, puedes recuperar tu contraseña en esta dirección: https://www.black-diamond.com/es/contrasenas-olvidadas/ Será necesario su correo electrónico.</p><br>
  <p>Para cualquier otro problema de conexión, usa la sección "Contacto" .</p><br>
  <h3 class="condiciones">¿Cuánto tiempo tardaré en recibir mi código de CD?</h3><br>
  <p>La recepción del código es inmediata, sólo tienes que ir a la sección "Mi cuenta" para ver tu última clave de CD comprada. También podrás ver todo el historial de tus compras desde la creación de la cuenta.</p><br>
  <h3 class="condiciones">La clave de CD que he recibido no funciona</h3><br>
  <p>Si la clave de CD recibida no funciona o si el código es difícil de leer, abre un ticket en la sección "Contacto" para que podamos encontrar el origen del problema.</p><br>
  <h3 class="condiciones">¿Hay una fecha límite para utilizar mi clave de CD?</h3><br>
  <p>¡No! No hay límite de tiempo, así que puedes utilizarlo cuando lo desees, o lo puedes usar para hacer un buen regalo.</p><br>
  <h3 class="condiciones">¿Las claves son válidas en todos los países?</h3><br>
  <p>No, los editores están sometidos a una política de regulación de importación/exportación de los juegos. Los códigos a veces son objeto de una restricción nacional, pero no siempre es el caso. Puedes ver esta información en la página de cada juego antes de comprarlo.</p><br>
  <h3 class="condiciones">¿Es posible un reembolso?</h3><br>
  <p>Teniendo en cuenta la naturaleza de las claves de CD que vendemos, es posible hacer un reembolso, pero puede que necesitemos un plazo de 10 días para comprobar que el código no haya sido utilizado.</p><br>
  <h3 class="condiciones">¿Cuántas veces puedo descargar un juego?</h3><br>
  <p>Una vez que la clave de CD esté activada en tu cuenta, puedes volver a descargarlo tantas veces como desees (salvo si se indica lo contrario en la plataforma de descarga). Asegúrate de conectarte con la misma cuenta utilizada para validar la clave de CD.</p><br>
  <h1 class="condiciones">¿Cómo funciona?</h1><br>
  <h3 class="condiciones">¿Por qué son tan bajos nuestros precios?</h3><br>
  <p>Black Diamond es sobre todo un grupo de jugadores apasionados, de los que hacían las largas colas de las grandes tiendas para gastarse sus ahorros y comprarse el último juego que hubiese salido al mercado.Como gamers, nuestra prioridad es ofrecerte un acceso inmediato a los mejores juegos y, sobre todo, a los mejores precios. Gracias a los juegos en formato electrónico, recortamos considerablemente los gastos de almacenaje físico y de logística. Además, adquirimos los juegos en grandes cantidades. Todo esto nos permite ofrecer estos precios.</p><br>
  <h3 class="condiciones">¿Cómo funciona? ¡Juega sin tener que desplazarte!</h3><br>
  <h5 class="Plataformas oficiales"></h5><br>
  <p>Obtén el código en unos segundos y válida la clave del CD oficial comprado en nuestra web:</p><br>
  <h5 class="condiciones">Rápido</h5>
  <p>Descarga tus juegos legalmente a través de plataformas como Steam, Origin, Uplay ...</p><br>
  <h5 class="condiciones">No es caro</h5><br>
  <p>¡Juega inmediatamente en tu PC habiendo ahorrado hasta un 80% dependiendo del juego!</p><br>
  <h3 class="condiciones">¿Dudas de nuestros comentarios?</h3><br>
  <p>Puede parecer increíble, pero no filtramos nuestros comentarios; son todos reales. No tenemos ninguna prueba irrefutable, pero otórganos el beneficio de la duda, y déjate seducir. Seguro que tú también dejas uno. ¿Qué te apuestas? :) De todas formas, el número de seguidores de Facebook y Twitter no se puede trucar, así que te ofrecemos ejemplos aleatorios de tweets que hablan de nosotros y que pertenecen a algunos de los miles de usuarios que nos siguen cada año. No dudes en consultar la página para saber más.</p><br>
</div>

<router-outlet></router-outlet>
