<body>
<div id="imagen-inicio">
  <img id="logo-inicio" alt="Logo BD Texto" src="./assets/logo-BD-texto.png">
</div>
<div class="inicio-contenido">
  <h3 class="titulos-inicio titulo-centrado">Bienvenido a Black Diamond - Tu Fuente de Claves de Videojuegos</h3>
  <p>En Black Diamond, estamos comprometidos en brindarte la mejor experiencia de compra de claves de videojuegos. Somos apasionados por los videojuegos y deseamos asegurarnos de que obtengas acceso rápido y seguro a tus títulos favoritos en diversas plataformas.</p>
  <h3 class="titulos-inicio">¿Quiénes Somos?</h3>
  <div class="quienes-somos">
    <div id="edu-nievas">
      <img class="fotos-ceo" alt="Edu" src="./assets/profile.png">
      <p class="nombre-ceo">Edu Nievas</p>
      <p class="cargo">CEO y Programador Web</p>
    </div>
    <div id="eduardo">
      <img class="fotos-ceo" alt="Eduardo" src="./assets/profile.png">
      <p class="nombre-ceo">Eduardo</p>
      <p class="cargo">CEO y Programador Web</p>
    </div>
    <div id="luis">
      <img class="fotos-ceo" alt="Luis" src="./assets/profile.png">
      <p class="nombre-ceo">Luis</p>
      <p class="cargo">CEO y Programador Web</p>
    </div>
  </div>
  <p>Black Diamond es una empresa dedicada a la venta de claves de videojuegos con una amplia selección de títulos disponibles para plataformas como Ubisoft, Steam, Nintendo y muchas más. Nuestro equipo está compuesto por apasionados jugadores que entienden tus necesidades y desean proporcionarte la mejor experiencia de juego posible.</p>
  <h3 class="titulos-inicio">Novedades Recientes</h3>
  <p>En Black Diamond, nos esforzamos por mantenerte actualizado con las últimas noticias y lanzamientos en el mundo de los videojuegos. Aquí encontrarás las últimas novedades, lanzamientos emocionantes y ofertas especiales que no querrás perderte. Mantente al día con nuestras actualizaciones para estar siempre un paso adelante en tu experiencia de juego.</p>
  <h3 class="titulos-inicio">Nuestra Misión</h3>
  <p>Nuestra misión es proporcionarte un acceso sencillo y rápido a tus juegos favoritos a precios competitivos. Valoramos la satisfacción del cliente y nos enorgullece ofrecer un servicio confiable y seguro para que puedas disfrutar de tus títulos sin preocupaciones.</p>
  <h3 class="titulos-inicio">Por Qué Elegirnos</h3>
  <ul>
    <li>Amplia selección de títulos para múltiples plataformas.</li>
    <li>Precios competitivos y ofertas especiales.</li>
    <li>Compras seguras y protección de tus datos.</li>
    <li>Soporte al cliente dedicado para responder a tus dudas.</li>
    <li>Actualizaciones regulares y las últimas novedades en videojuegos.</li>
  </ul>
  <p>En Black Diamond, no solo vendemos juegos, sino que también compartimos tu pasión por el mundo de los videojuegos. Estamos aquí para que disfrutes de tus aventuras virtuales de la mejor manera posible.</p>
  <p>Gracias por elegir a Black Diamond como tu fuente confiable de claves de videojuegos. ¡Esperamos que tengas una experiencia de compra inolvidable!</p>
</div>
<div class="separar-inicio"></div>
</body>
